*
  box-sizing: border-box
  &:focus
    outline: none
  &:focus-visible
    outline: 4px solid $primary-color

body
  width: 90%
  margin: auto
  margin-top: 20px
  font-family: 'DM Sans'

ul
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none